import url ('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background:honeydew
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}


.cabecalho-menu {
    display: flex;
    gap: 32px;

}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color:palevioletred;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid rgb(220, 220, 220);
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: palevioletred;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: palevioletred;
}

.conteudo-principal-escrito-botao {
   background-color:paleturquoise; 
   width: 180px;
   height: 50px;
   border: none;
   box-shadow: 4px 5px 4px rgb(207, 206, 206);
   border-radius: 20px;
   font-family: 'Sarala', sans-serif;
   font-weight: 400;
   font-size: 24px;
   color: palevioletred;
}

.conteudo-principal-img{
    height: 210px;

}

.conteudo-principal-escrito-botao:hover{
    background-color: palevioletred
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 70px;
}

.conteudo-secundario-titulo{
    border-top: 0.9px solid #faf4e5;
    padding-top: 25px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 20px;
    color: palevioletred;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family:'Sarala', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: paleturquoise;  
}

