import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #a17c8e 16.62%, #fcfbfa 86.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 28px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;

}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #a17c8e;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #f3eee3;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #f0e1d5;
}

.conteudo-principal-escrito-botao {
   background-color: #d1cecc; 
   width: 180px;
   height: 50px;
   border: none;
   box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
   font-family: 'Sarala', sans-serif;
   font-weight: 400;
   font-size: 24px;
   color: #2f2325;
}

.conteudo-principal-img{
    height: 210px;

}

.conteudo-principal-escrito-botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 70px;
}

.conteudo-secundario-titulo{
    border-top: 0.9px solid #faf4e5;
    padding-top: 25px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #3b3b3a;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family:'Sarala', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #f8e6e2;  
}

